*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}
/* header style */

.header{
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    left: 0px;
    top: 0px;
    
}

.header-bigtext{
    font-family: 'Work Sans';
    font-weight: 700;
    color: white;
    height: 100px;
    width: 400px;
    padding-bottom: 20px;
    text-align: right;
    padding-left:  950px;
    padding-right: 100px;
    padding-top:200px ;
    font-size: 50px;
    

}
.primary-text{
    color: white;
    height: 60px;
    width: 350px;
    font-size: 10px;
    text-align: right;
    padding-left:  1000px;
    padding-top: 60px;
}
.button{
    padding-left:1230px ;
    border-radius: 10px;
}


.primary-button{
    color: #005fac;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
}
primary-button-text.{
    font-weight: 700;
    
}
/* my failures of previous year */

.my-failure-box{
    height: 720px;
    width: 1080px;
    padding-left: 200px;
    padding-top: 130px;
    padding-bottom:130px ;
}
.failure{
    display: flex;
}
.failure-description{
    padding-left: 150px;
    padding-top: 300px;

}
.failure-title{
    font-size: 50px;
    font-weight: 700;
}
.failure-text{
    font-size: 12px;
    font-weight: 400;
    height:30px ;
    width: 320px;
    color: #444343;
    padding-bottom: 50px;
}

.failure-description, ul{
    list-style:none ;
    text-align: left;
    font-size: 12px
}
ul {
  list-style-image: url('images/check3.png');
  padding-left: 0;
  list-style-position: inside;
}

/* my plan style */

.my-plan-box{

}
.plan-title{
    padding-left: 700px;
    font-size: 40px;
    font-weight: bold;
}
.my-planlist{
    padding-top: 50px;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 130px;
    display: flex;
    
}
.my-plan-box h3{
    font-weight:bold;
    
    
}
.web{
    padding-right: 100px;
    text-align: center;
    height: 200px;
    width: 210px;

}
.js{
    padding-right: 100px;
    text-align: center;
    height: 200px;
    width: 210px;

}
.smoke{
    padding-right: 100px;
    text-align: center;
    height: 200px;
    width: 210px;

}
.ecom{
    padding-right: 100px;
    text-align: center;
    height: 200px;
    width: 210px;

}
/* bottom image style */
.bottom-img{
  
    background-image:
    linear-gradient(to right, #005FAC, rgba(255, 255, 255, 0)),
    url('images/watch.png');
    width: 1100px;
    height: 180px;
    background-size:cover ;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center ;
    background-repeat: no-repeat;
    margin-left: 200px;
}
.photo-title{
    font-weight: 700;
    font-size: 40px; 
    color: white;
    height: 50px;
    width: 500px;
    padding-bottom: 70px;
    padding-left: 80px;
    

}

.bottom-button{
    color: #005fac;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    margin-left: 80px;
    border: none;

}
/* footer style */
.footer{
    background-color: black;
    color: white;
    width: 1600px;
    height: 500px;
    margin-top: 130px;
    display: flex ;
    

}
.footer-alltext{
    padding-left: 130px;
    padding-top:130px ;
    padding-bottom: 130px;
    width: 550px;
}

.footer-alltext h1{
    padding-bottom: 10px;
}
.footer-alltext p{
    padding-bottom: 20px;
    font-size: 10px;
}
.icons{
    display: flex;   
}
.icons img{
    margin-right: 10px;
}
.footer-right{
    padding-left: 330px;
    padding-top: 130px;
}
.subs-btn{ 
    margin-top: 15px;
    width: 80px;
    height: 40px;
    background-color: #005fac;
    color: white;
    border-radius: 5px;
    
}
.footer-right h4{
    padding-bottom: 15px;
}
.footer-right input{
    background-color: none;
    border-color: white;
    border-radius: 7px;
    background:none;
    border-style: solid ;
    height: 30px;
    width: 200px;
    padding-left: 15px;
    opacity:0.5 ;


}





